//Colors
$color1: white;
$color2: rgb(228, 226, 226);
$color3: rgb(145, 143, 143);
$color4: rgb(78, 78, 78);
$color5: black;
$color_red: red;


//Varibles
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


